# macOS
**/.DS_Store

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini

# IntelliJ
**/.idea/
**/*.iml
**/*.iws

# VSCode
**/.vscode/

# Logs
**/*.log

# Other common files
**/*.swp
**/*.swo
**/*.bak
*~
